* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 120%;
    /*background: #f8f8f8;*/
    background-image: url(background/cat.jpg);
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #5f9ea0;
    text-align: center;
    border: 1px solid #b0c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}


form {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background: white;
    border-radius: 0px 0px 10px 10px;
}

.homeheader {
    text-align: center;
    font-size: 5rem;
}

.homecontent {
    text-align: center;
    padding-top: 3rem;
    width: 100%;
    background: #ccc;

}
.input-address {
    margin: 10px 0px 10px 0px;
}
.input-address input{
    height: 100px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
    word-break: break-all
}
.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group select{
    height: 45px;
    width: 97%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

.select-body {
    padding: 20px;
}

.btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
}

.error {
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #f2dede;
    border-radius: 5px;
    text-align: left;
}
.success {
    color: #3c763d;
    background: #dff9d8;
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}


.container{
    max-width : 960px;
    margin: 0 auto;
    background-color:#fff 
}

.select .select-header{
    font-size: 200%;
    color: white;
    text-align: center;
    width: 100%;
    background: mediumseagreen;
    border: 5px solid white;
    border-radius: 30px 30px 30px 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.select {
    margin: 20px 0px 20px 0px;
}

.select img{
    width:410px;
    height:410px;
    margin:20px;
}
.select a{
    margin:70px;
    padding:10px;
    text-align:center;
    text-decoration: none;
    border:5px;
    border-style: ridge; 
    color: blue;
    transition: all 0.3s; 
}
.select a:hover{
    background: blue;
    color:#fff;
}
.select section.user{
    margin-top:30px;
    width:450px;
    height:530px;
    background:white;
    float:Left;
}
.select section.hotel{
    margin-top:30px;
    width:450px;
    height:530px;
    background:white;
    float:Right;
}

section.admin{
    padding-top:30px;
    clear:both;
}


